In [40]:
import tkinter
from tkinter import * 
from tkinter import messagebox
window = Tk()

window.title("Our GUI!")
window.geometry('200x200')

def click():
    messagebox.showinfo('Group 8', 'Data on NASA Fireballs')
btn = Button(window, text = 'click here', font = ('Arial Black', 20), command = click)
btn.grid(column = 0, row = 0)
window.mainloop()

In [6]:
# import the pandas library 
import pandas as pd 
# read the file into a pandas dataframe 
df = pd.read_csv('cneos_fireball_data.csv')
# drop vx, vy, and vz columns
df = df.drop(columns = ['vx', 'vy', 'vz'])
# drop rows that have any missing values 
df = df.dropna()
df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt)
1,2019-10-10 16:16:36,44.3N,122.9E,47.3,14.1,2.060000e+11,0.570
2,2019-09-28 10:40:20,12.5S,107.2W,52.0,20.4,2.300000e+10,0.082
4,2019-09-14 12:39:34,38.6S,33.5W,38.0,15.9,1.090000e+11,0.330
5,2019-09-13 02:02:04,18.6S,126.9E,27.4,13.5,4.200000e+10,0.140
6,2019-09-12 12:49:48,54.5N,9.2E,42.0,18.5,1.690000e+11,0.480
7,2019-09-12 02:34:58,24.9N,47.8W,30.6,17.2,5.900000e+10,0.190
8,2019-08-24 12:02:59,21.9N,130.4W,39.8,13.4,4.000000e+10,0.130
10,2019-08-16 20:36:05,38.9N,7.0E,36.0,14.9,2.500000e+10,0.089
11,2019-07-23 20:42:58,44.6N,147.6W,30.6,16.1,2.550000e+11,0.690
12,2019-06-30 16:52:58,21.2N,129.5W,59.0,42.3,3.200000e+10,0.110
14,2019-06-22 21:25:48,14.9N,66.2W,25.0,14.9,2.947000e+12,6.000
16,2019-05-26 10:07:55,56.6N,25.3W,24.4,17.5,4.200000e+10,0.140
17,2019-05-25 06:44:04,19.2S,89.4E,29.2,15.8,4.900000e+10,0.160
19,2019-05-21 13:21:35,38.8S,137.5E,31.5,11.5,6.560000e+11,1.600
20,2019-05-19 14:47:03,23.6S,132.8E,33.3,15.2,3.300000e+10,0.110
23,2019-04-22 21:42:11,48.8S,67.8E,33.3,11.4,1.240000e+11,0.370
24,2019-04-14 17:54:33,18.3N,74.6W,30.6,15.9,2.900000e+10,0.100
25,2019-04-06 11:59:09,56.5N,94.9E,41.5,18.1,7.000000e+10,0.220
28,2019-03-19 02:06:39,24.0S,140.3E,28.7,16.2,2.000000e+10,0.073
29,2019-03-15 12:26:56,63.7N,95.7E,31.5,14.4,4.600000e+10,0.150
30,2019-02-18 10:00:43,15.5S,25.3E,26.0,20.8,1.958000e+12,4.200
31,2019-02-01 18:17:10,22.5N,83.8W,23.7,16.3,5.790000e+11,1.400
33,2019-01-22 09:18:01,18.0N,6.5E,42.5,11.6,3.600000e+10,0.120
34,2018-12-23 23:38:03,47.5S,174.4W,31.8,16.5,8.900000e+10,0.270
35,2018-12-18 23:48:20,56.9N,172.4E,25.6,32.0,1.300000e+14,173.000
36,2018-11-20 17:30:28,25.3N,6.7W,27.4,17.4,4.220000e+11,1.100
37,2018-11-17 21:48:24,47.3N,172.9W,32.5,19.1,2.200000e+11,0.610
42,2018-10-05 00:27:04,39.8S,31.7W,31.5,14.7,3.800000e+10,0.130
43,2018-09-25 14:10:33,23.5S,56.8E,33.0,16.5,8.060000e+11,1.900
44,2018-09-25 00:16:59,34.3S,44.9E,40.7,12.5,5.300000e+10,0.170
...,...,...,...,...,...,...,...
404,2007-10-12 09:14:03,88.5N,116.6E,37.0,18.4,3.300000e+10,0.110
406,2007-09-22 17:57:12,49.2S,85.5W,30.2,16.9,2.370000e+11,0.650
407,2007-06-11 09:47:05,23.4S,170.9W,35.2,17.0,4.900000e+10,0.160
413,2007-04-18 12:44:23,83.7S,171.2W,38.0,24.4,1.120000e+11,0.330
415,2007-03-17 06:48:35,7.1N,4.1E,32.5,14.5,4.000000e+10,0.130
420,2007-01-22 07:24:56,45.4N,53.5E,32.0,13.4,7.600000e+10,0.240
424,2006-12-09 06:31:12,26.2N,26.0E,26.5,15.9,7.410000e+12,14.000
429,2006-10-14 18:10:49,49.4N,175.0W,44.4,23.9,2.580000e+11,0.700
436,2006-09-02 04:26:15,14.0S,109.1E,44.1,14.2,1.230000e+12,2.800
442,2006-07-15 23:55:45,78.3S,5.0W,29.6,12.4,8.500000e+10,0.260
443,2006-07-15 15:22:49,31.1N,45.6E,38.9,30.2,1.630000e+11,0.470
444,2006-06-07 00:06:28,69.2N,22.5E,40.7,19.6,5.900000e+10,0.190
455,2006-02-04 08:38:05,36.9N,143.6W,38.9,19.8,1.000000e+11,0.300
456,2006-01-28 03:33:48,51.7S,56.4E,37.0,18.7,7.400000e+11,1.800
459,2006-01-10 23:25:28,29.8N,12.7W,32.4,16.9,2.800000e+10,0.098
461,2005-12-29 10:05:35,3.0S,154.9W,42.2,20.7,1.900000e+11,0.530
463,2005-12-03 12:45:49,33.8S,117.4E,32.2,17.0,8.800000e+10,0.270
468,2005-11-09 07:33:08,31.0S,145.9E,30.7,13.8,7.300000e+10,0.230
476,2005-08-09 14:35:45,21.5S,56.2E,37.0,16.9,2.500000e+10,0.089
480,2005-06-03 08:15:41,31.0S,90.3W,29.6,26.2,8.200000e+10,0.250
483,2005-05-07 09:31:44,75.8S,163.7E,15.2,16.6,2.600000e+10,0.092
486,2005-04-19 07:37:47,50.2S,146.4W,38.5,16.8,2.320000e+11,0.640
503,2005-01-02 23:09:51,21.3S,154.7E,35.2,21.5,1.190000e+11,0.350
512,2004-10-07 13:14:43,27.3S,71.5E,35.0,19.2,1.040000e+13,18.000
525,2004-06-05 20:34:10,1.3N,174.4W,43.0,19.5,1.810000e+12,3.900
534,2004-04-22 04:21:49,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500
535,2004-04-06 03:24:49,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100
546,2003-11-10 13:54:06,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300
551,2003-09-27 12:59:02,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600
710,1998-01-04 23:00:27,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230

In [43]:
again is true # sets loop to true
while(again): # loops the whole menu process if user wishes to continue
    valid is True# sets loop to true
    while(valid): # start of an error trap to restrict options to 1-4
        print("Welcome! \n Here are your options: ")
        print("\n 1. Option one ")
        print("\n 2. Option two ")
        print("\n 3. Option 3 \n 4. Option 4”")
        option = input("Please select an option: ”")
        
        if option == '1': # finds dates and locations of low, medium, or high impact energy
            date()
            valid is False # sets valid to false to make sure loop doesn’t recur
                
        if option == '2': # finds gives details of fireball on a user specified day 
            altitude()
            valid is False
                
        if option == '3': # finds fireballs within a user specified range of altitude
            velocity()
            valid is False
                
        if option == '4': # finds fireballs with a user specified velocity
            impact()
            valid is False
                    
        else:
            print(“Invalid response”)
            valid is true
                
            # error trap should end here
        answer = str(input("Would you like to run it again? (y/n)") #ask for user input if they would like to run again
        
            #  If answer is ‘yes’
        if(answer == 'y'):
            again is True
        else:
            again is False

SyntaxError: invalid character in identifier (<ipython-input-43-247a6291b9d3>, line 28)

In [11]:
def date():
# Create dictionary with date as key and all other categories as values
    date = df.set_index('Peak Brightness Date/Time (UT)').T.to_dict('list')
# Ask user to enter a date
    date_input = str(input("Please enter a date in the format 'year-month-day hour:min:sec': "))
# Scan dictionary that prints all values at specified date
# Return dictionary
    print(date[date_input])
date()

Please enter a date in the format 'year-month-day hour:min:sec': 2019-03-19 02:06:39
['24.0S', '140.3E', 28.7, 16.2, 20000000000.0, 0.073]

In [41]:
def altitude():
# Create dictionary with altitude as key and all other categories as values
    alt = df.set_index('Altitude (km)’).T.to_dict('list')
# Ask user to enter an altitude
    alt_input = str(input("Please enter an altitude value: "))
# Scan dictionary that prints all values at specified altitude
# Return dictionary
    print(alt[alt_input])
altitude()

SyntaxError: invalid syntax (<ipython-input-41-a161bb070f2a>, line 3)

In [15]:
def velocity():
# Create dictionary with velocity as key and all other categories as values
    vel = df.set_index('Velocity (km/s)’).T.to_dict('list')
# Ask user to enter a velocity
    vel_input = str(input("Please enter a velocity value: "))
# Scan dictionary that prints all values at specified velocity
    print(vel[vel_input])
# Return dictionary
velocity()

SyntaxError: invalid syntax (<ipython-input-15-59004283ec2e>, line 3)